@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 50% 97%;
    --foreground: 20 10% 10%;
    --card: 0 0% 100%;
    --card-foreground: 20 10% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 10% 10%;
    --primary: 48 95% 65%;
    --primary-foreground: 20 10% 5%;
    --secondary: 35 90% 75%;
    --secondary-foreground: 20 10% 5%;
    --muted: 40 40% 94%;
    --muted-foreground: 20 10% 40%;
    --accent: 150 80% 70%;
    --accent-foreground: 150 25% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 40 30% 88%;
    --input: 40 40% 95%;
    --ring: 48 96% 65%;
    --chart-1: 270 70% 75%;
    --chart-2: 210 70% 75%;
    --chart-3: 300 70% 75%;
    --chart-4: 50 80% 75%;
    --chart-5: 30 80% 75%;
    --radius: 0.8rem;
    --sidebar-background: 45 20% 20%;
    --sidebar-foreground: 45 10% 85%;
    --sidebar-primary: 48 96% 85%;
    --sidebar-primary-foreground: 20 10% 15%;
    --sidebar-accent: 45 25% 30%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 45 20% 25%;
    --sidebar-ring: 48 96% 85%;
  }
  .dark {
    --background: 20 10% 10%;
    --foreground: 40 50% 90%;
    --card: 20 10% 14%;
    --card-foreground: 40 50% 90%;
    --popover: 20 10% 10%;
    --popover-foreground: 40 50% 90%;
    --primary: 48 80% 70%;
    --primary-foreground: 0 0% 100%;
    --secondary: 35 80% 75%;
    --secondary-foreground: 0 0% 100%;
    --muted: 20 10% 22%;
    --muted-foreground: 40 50% 60%;
    --accent: 150 60% 80%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 10% 20%;
    --input: 20 10% 22%;
    --ring: 48 80% 70%;
    --chart-1: 270 60% 70%;
    --chart-2: 210 60% 70%;
    --chart-3: 300 60% 70%;
    --chart-4: 50 70% 65%;
    --chart-5: 30 70% 65%;
    --sidebar-background: 20 10% 7%;
    --sidebar-foreground: 40 50% 90%;
    --sidebar-primary: 48 80% 70%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 20 10% 18%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 20 10% 12%;
    --sidebar-ring: 48 80% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
